<header #header [class.collapse-static]="!isHome">
  <div class="header-design"></div>
  <nav class="navbar">
    <div class="wrapper">
      <a 
        (click)="routerTest('/home')"
        [routerLink]="['/home']" class="logo">
        <div class="strike"></div>
        <div class="center"></div>
      </a>

      <ul>
        <li *ngFor="let link of navbarLinks">
          <a
            (click)="routerTest(link.route)"
            [routerLink]="[link.route]" 
            routerLinkActive="active-link">{{ link.label }}</a>
          <div class="indicator"></div>
        </li>
        
        <li>
          <a href="https://github.com/hirayoki22?tab=repositories" target="_blank">
            <i class="fab fa-github"></i>
          </a>          
        </li>
      </ul>
    </div>
  </nav>

  <div class="hero">
    <h1>Supreme Legendary</h1>
    <p>If you're assembling a team of Pokémon to carry your next Single Battle against your friends, try out some of these standouts debuting in Pokémon Sword and Pokémon Shield.</p>
  </div>
</header>