.wrapper {
  max-width: 1000px;
  margin: 0 auto 2rem;
  background-color: #eee;
}

.drop-container {
  position: relative;
  width: 85%;
}

.drop-container input {
  width: 100%;
}

.matches {
  position: absolute;
  width: 100%;
  padding: 0.4rem 0;
  border-radius: 3px;
  background-color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  user-select: none;
}

.matches li {
  width: 100%;
  transition: background-color 0.3s ease;
}

.matches li a {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.matches li a img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 2px;
  background-color: rgb(212, 223, 238);
}

.matches .info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.matches .info span {
  margin-bottom: 0.6rem;
  color: #fff;
}

.matches .info span:last-of-type {
  color: #888;
  font-weight: 600;
}

.matches li:hover {
  background-color: #555;
}