<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">

    <div 
      *ngIf="(name.touched || name.dirty) && name.pending">
      <span>... loading</span>
    </div>
  </div>

  <div 
    *ngIf="name.dirty && name?.errors?.exists"
    class="feedback">
    <span>This pokemon exists already</span>
  </div>
  
  <button>Submit</button>
  
  <a href="https://assets.pokemon.com/assets/cms2/img/pokedex/full/061.png" 
  download="061.png">Download Image</a>
</form>
