<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div 
    *ngFor="let field of fields$ | async"
    class="form-group">
    <label [for]="field.key">{{ field.label }}</label>

    <div [ngSwitch]="field.controlType">
      <div *ngSwitchCase="'input'">
        <input [id]="field.key" [formControlName]="field.key" [type]="field.inputType">
      </div>

      <div *ngSwitchCase="'dropdown'">
        <select [id]="field.key" [formControlName]="field.key">
          <option 
            *ngFor="let option of field.selectOptions"
            [value]="option.value">
            {{ option.key }}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'textarea'">
        <textarea [id]="field.key" [formControlName]="field.key" rows="4"></textarea>
      </div>
    </div>
  </div>

  <button>Submit</button>
</form>