form {
  width: 300px;
  margin: 4rem auto 40rem;
}

.form-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  width: 15%;
  margin-right: 0.4rem;
}

.form-group input {
  width: 85%;
  padding: 0.3rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  color: #eee;
  border-radius: 4px;
  background-color: #333;
}

