.evolutions-container  {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(57, 84, 122, 0.1);
}

.evolutions-container h3 {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.evolutions {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  animation: reveal 0.5s ease;
}

.column-3 .row:not(:last-of-type) {
  margin-bottom: 1rem;
}

.column-3 .image-container {
  max-width: 160px;
  max-height: 160px;
  padding: 1rem;
  border-radius: 160px;
  background: 
  linear-gradient(45deg,rgba(89, 202, 255, 0.4), rgba(78, 76, 204, 0.2));
  overflow: hidden;
}

.column-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.column-3 .details span:last-of-type {
  color: #888;
  font-weight: 600;
}

.scrolled {
  animation: reveal2 0.5s ease forwards;
}

.scroll-stop {
  animation: hide 0.3s ease forwards;
}

.alt-evolutions {
  justify-content: flex-start;
}

.column-xl {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.column-xl-2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 2rem;
}

.column-xl .column-3 {
  width: 130px;
}

.column-xl-2 .column-3 {
  width: 110px;
  margin: 0 1rem 2rem;
}

.column-3 .fas {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: rgba(57, 84, 122, 0.6);
  font-size: 2rem;
}