input {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
}

.pokemon-form {
  max-width: 300px;
  margin: 4rem auto 2rem;
  animation: reveal 0.8s ease;
}

.title {
  color: #666;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

.alt-pokemon-form {
  display: block;
  width: 100%;
  margin: 2rem 0;  
  cursor: pointer;
  user-select: none;
}

.alt-pokemon-form input {
  display: none;
}

.alt-pokemon-form span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: #444;
  border-radius: 4px;
  background-color: rgba(35, 80, 129, 0.2);
}

.alt-pokemon-form input:checked + span {
  background-color: #abceb1;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.3rem 1rem;
  font-size: .8rem;
  border: 1px solid rgba(57, 84, 122, 0.3);
  border-radius: 4px;
  background-color: #fff;
}

.form-group textarea {
  height: 80px;
  resize: none;
}

.pokemon-form button {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
  background: #36befd linear-gradient(15deg,#36befd 0,#6461f6 100%);
  box-shadow: 0 1px 3px rgba(35, 80, 129, 0.1), 0 1px 2px rgba(35, 80, 129, 0.1);
  overflow: hidden;
}

.pokemon-form button span {
  position: relative;
  color: #fff;
  z-index: 1;
}

.pokemon-form button::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #36befd linear-gradient(-15deg,#36befd 0,#6461f6 100%);
  transition: opacity 0.6s ease;
  z-index: 0;
}

.pokemon-form button:hover::after {
  opacity: 1;
}

.pokedex-output {
  display: block;
  max-width: 500px; 
  height: 200px;
  margin: 2rem auto 4rem;
  padding: 1.2rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color: #d3f1ff;
  transition: background-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.pokedex-output::selection {
  background-color: transparent;
}

.pokedex-output:hover {
  background-color: rgba(35, 80, 129, 0.3);
}

.pokedex-output:active {
  background-color: rgba(35, 80, 129, 0.6);
}