<div class="design"></div>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading && pokemon">
  <div class="pokemon-details-container">
    <div class="pokemon-info">
      <span>{{ activePokemon.name }}</span>
      <span>#{{ activePokemon.entryNumber }}</span>
    </div>

    <navigation-buttons [pokemon]="pokemon"></navigation-buttons>

    <div class="card-wrapper"> 
      <div class="card">
        <div class="column">
          <img [src]="pokemon.imageUrl" [alt]="pokemon.name">

          <div *ngIf="activePokemon.hasAlternateForms" class="form-switcher">
            <button
              (click)="switchToActive()"
              [class.button-width-2]="altForms.length >= 2"
              [disabled]="pokemon == activePokemon">
              {{ activePokemon.altName || activePokemon.name }}
            </button>
            <button
              (click)="switchForm(form)"           
              [disabled]="pokemon == form"
              [class.button-width-2]="altForms.length >= 2"
              *ngFor="let form of altForms">
              {{ form.name }}
            </button>
          </div>
        </div>

        <div class="column">
          <section class="session description">
            {{ pokemon.description || activePokemon.description }}
          </section>
      
          <section class="session traits">
            <div class="column-2">
              <span class="label">Height</span>
              <span class="data">{{ pokemon.traits.height }}</span>

              <span class="label">Weight</span>
              <span class="data">{{ pokemon.traits.weight | number:'1.1-1' }} lbs</span>

              <span class="label">Gender</span>
              <span class="data">
                <i *ngIf="pokemon?.gender?.male" class="fas fa-mars"></i>
                <i *ngIf="pokemon?.gender?.female" class="fas fa-venus"></i>
                <span *ngIf="!pokemon.gender">Unknown</span>
              </span>
            </div> 

            <div class="column-2">
              <span class="label">Category</span>
              <span class="data">{{ pokemon.category }}</span>

              <span class="label">Abilities</span>
              <span 
                *ngFor="let ability of pokemon.abilities"
                class="data">{{ ability }}</span>
            </div> 
          </section>
        
          <section class="session type">
            <h3>Type</h3>
      
            <div class="type-wrapper-2">
              <div 
                *ngFor="let type of pokemon.types"
                class="pk-type pk-type-2 pk-type-{{ type | lowercase }}">
                {{ type }}
              </div>
            </div>
          </section>

          <section class="session weaknesses">
            <h3>Weaknesses</h3>
      
            <div class="type-wrapper-2">
              <div 
                *ngFor="let type of pokemon.weaknesses"
                class="pk-type pk-type-2 pk-type-{{ type | lowercase }}">
                {{ type }}
              </div>
            </div>
          </section>
        </div>
      </div>

      <base-stats [pokemon]="pokemon"></base-stats>
    
      <evolutions [pokemon]="pokemon"></evolutions>  

      <button (click)="onReturn()" class="explore-button">
        <span>Explore More</span>
      </button> 
    </div>   
  </div>  
</div>
